body{
    background-image: linear-gradient(#0000006e,#05050574),url(medium-shot-smiley-man-wearing-headphones.jpg);
    background-position: top;
    background-size: cover;
    background-repeat:no-repeat;
    position: relative;
    min-height: 99vh;
    
    
}.seja{
    text-align: center;
    color: rgba(0, 255, 255, 0.692);
}p{
    color: rgba(240, 255, 255, 0.773);
}.w{
    display:flex;
    justify-content: flex-end;
}.n{
    position: relative;
    right: 65px;
    top: 60px;
    color: chartreuse;
}